.DS_Store
# Mac
.DS_Store

# Gradle
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Katalon Studio
bin

Reports

Libs

output

!output/.gitkeep

.classpath

.project

.settings/

settings/

# Gradle
.cache/

build/

null/
generated-src/

